echo Executing NEMQO Drift & Fun configuration...
lanmode 1
rcon_password CHANGE_ME_TO_A_LONG_RANDOM_PASSWORD
maxplayers 38
port 7777
hostname [PL] NEMQO Drift & Fun | PSZ Tribute
gamemode0 nemqo_freeroam_dm 1
filterscripts
announce 0
query 1
chatlogging 1
weburl example.invalid
language Polish
maxnpc 6
onfoot_rate 40
incar_rate 40
weapon_rate 40
stream_distance 300.0
stream_rate 1000
logtimeformat [%H:%M:%S]
